@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);

html, body {
    background-color: #5dae8b;
    color: #fff;
    text-align: center;
    margin: 0;
    font-family: 'Open Sans', Arial, sans-serif;
}

header {
    width: 100%;
    height: 100px;
    line-height: 100px;
}
    header img {
        height: 75px;
        position: absolute;
        left: 15px;
        top: 12.5px;
    }
    header ul {
        position: absolute;
        text-align: right;
        top: 0;
        right: 15px;
        font-size: 18px;
        height: 100px;
        margin: 0;
    }
        header ul li {
            list-style-type: none;
            display: inline-block;
            padding: 0 10px;
        }
            header ul li a {
                text-decoration: none;
                color: #fff;
            }
 
#hero {
    margin-top: 75px;
}           
    #hero h1 {
        font-size: 35px;
        font-weight: 400;
    }
    #hero h2 {
        font-style: italic;
        font-weight: 300;
    }
    #hero p {
        margin-top: 50px;
    }