@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);

html, body {
    background-color: #5dae8b;
    color: #fff;
    text-align: center;
    margin: 0;
    font-family: 'Open Sans', Arial, sans-serif;
}

a {
    color: #3984ff;
    text-decoration: none;
    border-bottom: 1px dotted currentColor;
}
    a:hover {
        border-bottom: 1px solid currentColor;
    }
    a.button {
        text-decoration: none;
        padding: 15px 20px;
        border-radius: 3px;
        display: inline-block;
        margin-top: 15px;
        transition: all 0.1s linear;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 7px;
        border: none;
    }
        a.button:hover {
            opacity: 0.8;
            border: none;
        }
        
        #no-space {
            letter-spacing:0px !important;
        }
        
        #hero a.button,
        #pricing .both a.button,
        #register a.button {
            background-color: #fff;
            color: #5dae8b;
        }
        #overview a.button,
        #pricing a.button {
            background-color: #5dae8b;
            color: #fff;
        }

#pricing ul li,
#about-us ul li {
    list-style-type: none !important;
}
    #pricing ul li::before,
    #about-us ul li::before {
        content: '+ ';
    }

body > section {
    padding: 25px 0 50px;
}
    body > section > h1.title:first-child {
        font-weight: 600;
        font-size: 20px;
        margin-top: 0;
        letter-spacing: 5px;
    }

header img {
    height: 103px;
    margin: 35px auto;
}

#hero {
    padding-top: 0;
    width: 95%;
    margin: 0 auto;
}
    #hero a {
        color: #fff;
    }
    #hero h1, #hero h2, #hero p {
        text-shadow: 3px 3px 3px rgba(0,0,0,0.1);
    }
    #hero h1 {
        margin-top: 0;
        font-weight: 400;
        font-size: 39px;
    }
    #hero h2 {
        margin: 0;
        font-size: 23px;
        font-weight: 300;
    }
    #hero p {
        font-size: 20px;
        max-width: 1000px;
        margin: 25px auto;
    }

    #hero .sessions {
        margin: 0;
        padding: 0;
        color: #5dae8b;
    }
        #hero .sessions li + li {
            margin-left: 15px;
        }
        #hero .sessions li {
            list-style-type: none;
            display: inline-block;
        }
            #hero .sessions li .description {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
                width: 400px;
                height: 50px;
                line-height: 50px;
                font-size: 18px;
                font-weight: 600;
                background-color: #fff;
                border-radius: 5px;
                overflow: hidden;
                text-align: left;
            }
            #hero .sessions li h1 {
                font: inherit;
                margin: 0;
                display: inline-block;
                background-color: #f1f1f1;
                padding: 0 15px;
                height: 50px;
                margin-right: 5px;
            }
            #hero .sessions li .spots-left {
                color: #fff;
                font-size: 18px;
                margin-top: 15px;
            }

#overview {
    background-color: #fff;
    color: #5dae8b;
}
    #overview > h2 {
        font-size: 30px;
        color: #444;
    }
    
    
    #overview .courses-container {
        display: flex;
        width: 850px;
        margin: 0 auto;
        justify-content: space-between;
    }
        #overview .courses-container article {
            color: #8d8d8d;
            box-sizing: border-box;
            width: 425px;
        }
            #overview .courses-container .webdev { text-align: right; padding-right: 15px; border-right: 1px solid #e2e2e2; }
                #overview .courses-container .webdev h1,
                #overview .courses-container .webdev h2 { color: #466c95; }
            #overview .courses-container .leadership { text-align: left; padding-left: 15px; border-left: 1px solid #e2e2e2; }
                #overview .courses-container .leadership h1,
                #overview .courses-container .leadership h2 { color: #ff7676; }
                
            #overview .courses-container article h1 {
                font-size: 25px;
                margin-bottom: 5px;
                margin-top: 5px;
            }
            #overview .courses-container article h2 {
                font-size: 18px;
                font-weight: 400;
                margin-top: 0;
            }

    #overview a.button {
        letter-spacing: 5px;
        margin-top: 25px;
    }

#pricing {
    background-color: #f1f1f1;
    color: #444444;
}
    #pricing > h1:first-child {
        color: #5dae8b;
    }
    #pricing > h2 {
        font-size: 30px;
        color: #444;
    }
    
    
    #pricing .pricing-container {
        display: flex;
        width: 950px;
        margin: 0 auto;
        justify-content: space-between;
    }
        #pricing .pricing-container .bubble {
            display: inline-block;
            width: 15px;
            height: 15px;
            border-radius: 15px;
        }
            #pricing .pricing-container .web-dev.bubble { background-color: #466c95; }
            #pricing .pricing-container .leadership.bubble { background-color: #ff7676; }
            #pricing .pricing-container .bubble+.bubble { margin-left: 5px; }
            
        #pricing .pricing-container article {
            border: 2px solid #5dae8b;
            border-radius: 5px;
            width: 275px;
            margin-top: 15px;
            padding: 20px 10px;
        }
            #pricing .pricing-container h1 {
                font-size: 20px;
                margin: 15px auto;
                letter-spacing: 5px;
            }
            #pricing .pricing-container .pricing {
                border-top: 1px solid #5dae8b;
                border-bottom: 1px solid #5dae8b;
                width: 85%;
                margin: 0 auto;
            }
                #pricing .pricing-container .pricing h2 {
                    font-size: 50px;
                    font-weight: 400;
                    margin: 15px auto 5px;
                }
                    #pricing .pricing h2 .per {
                        font-size: 18px;
                        font-weight: 300;
                    }
                #pricing .pricing h3 {
                    font-weight: 400;
                    margin: 0 auto 15px;
                }
                #pricing .both {
                    background-color: #5dae8b;
                    color: #fff;
                }
                    #pricing .both .pricing {
                        border-color: #fff;
                    }
                #pricing ul {
                    list-style-type: none;
                    margin-bottom: 0;
                    padding: 0;
                    height: 120px;
                }
                    #pricing li {
                        margin: 0;
                        padding: 0;
                    }
        #pricing article a.button {
            padding: 15px 40px;
            border-radius: 30px;
            letter-spacing: 5px;
        }

    #pricing > a.button:last-child {
        display: none;
    }

#about-us {
    background-color: #fff;
    color: #444444;
}
    #about-us > h1:first-child {
        color: #5dae8b;
    }

    #about-us > h2 {
        font-size: 30px;
        color: #444;
    }

    #about-us > p {
        width: 95%;
        max-width: 950px;
        margin: 0 auto;
    }

    #about-us .bio-container {
        display: flex;
        width: 90%;
        max-width: 1000px;
        margin: 25px auto 0;
        justify-content: space-between;
    }
        #about-us .bio-container article {
            width: 300px;
            max-width: 99%;
        }
            #about-us .bio-container article img {
                display: block;
                margin: 0 auto;
                font-size: 0;
                background-color: #3984ff;
                width: 200px;
                height: 200px;
                border-radius: 100px;
            }
            #about-us .bio-container article h1 {
                font-size: 23px;
            }
            #about-us .bio-container article ul {
                list-style-type: '+ ';
                margin: 0;
                padding: 0;
            }

#speakers {
    background-color: #f1f1f1;
    color: #444444;
}
    #speakers > h1.title {
        color: #5dae8b;
    }
    #speakers > p {
        width: 95%;
        max-width: 950px;
        margin: 0 auto;
    }
    #speakers ul {
        list-style-type: none;
        padding: 0;
        margin: 50px auto 0;
    }
        #speakers ul li {
            margin: 0;
            padding: 0;
            display: inline-block;
        }
            #speakers ul li + li {
                margin-left: 50px;
            }
            #speakers ul li img {
                height: 125px;
            }

#register {
    padding: 50px 0;
}
    #register a.button {
        padding: 20px 50px;
        margin: 0 auto;
    }

footer {
    padding: 175px 0;
    font-size: 25px;
    background-image: url('../images/maw-fbla.jpg');
    background-size: 100%;
    background-position: 0 -160px;
    background-position-y: -160px;
    background-repeat: no-repeat;
    background-color: #635F5E;
}
    footer img {
        width: 450px;
        margin: 0 auto;
        margin-bottom: 40px;
        display: block;
    }
    footer a {
        text-decoration: none;
        color: #fff;
    }
