@media all and (max-width: 1025px) {
    #overview .courses-container {
        width: 95%;
    }
        #overview .courses-container article {
            width: 30%;
        }
}

@media all and (max-width: 870px) {
    #overview .courses-container {
        width: 90%;
    }
    #about-us .bio-container {
        display: block;
    }
        #about-us .bio-container article {
            margin: 50px auto;
        }

    #overview .courses-container {
        display: block;
    }
        #overview .courses-container article {
            width: 100%;
            height: auto;
            margin-top: 50px;
            padding: 100px 0 25px;
        }
}

@media all and (max-width: 800px) {
    #hero h1 {
        font-size: 33px;
    }
    #hero h2 {
        font-size: 20px;
    }
    #hero p {
        font-size: 18px;
    }
}

@media all and (max-width: 650px) {
    #pricing .session {
        width: 95%;
    }
        #pricing .session .session-number {
            width: 75px;
        }
        #pricing .session .details {
            font-size: 16px;
            left: 65px;
            width: calc(100% - 70px);
        }
        #pricing .session a.button {
            display: none;
        }
    #pricing > a.button:last-child {
        display: block;
        box-sizing: border-box;
        width: 95%;
        margin: 25px auto 0;
    }
}

@media all and (max-width: 525px) {
    header img {
        height: auto;
        width: 85%;
    }
}

@media all and (max-width: 430px) {
    footer a.button {
        padding: 20px 0;
        width: 95%;
    }
    footer img {
        width: 95%;
    }
}

@media all and (max-width: 365px) {
    #speakers ul li {
        display: block;
        margin: 0 auto;
    }
        #speakers ul li + li {
            margin: 50px auto 0;
        }
}

@media all and (max-width: 350px) {
        #pricing .session .session-number {
            width: 50px;
            font-size: 20px;
        }
        #pricing .session .details {
            font-size: 15px;
            left: 40px;
            width: calc(100% - 50px);
        }
}